.kpi-container {
    position: absolute;
    left: 15%;
    width: 80vw;
}

.kpi-container img {
    width: 80%;
    height: auto;
    z-index: 1;
}

#kpi-container canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    z-index: 2;
}

.heatmap-title {
    text-align: center;
}


.duration-title,
.os-title,
.satisfaction-title,
.click-title,
.heatmap-title {
    text-align: center;
    text-decoration: underline;
}

.satisfaction-p {
    font-size: 30px;
    font-weight: bold;
}
.duration-container {
    display: flex;
    justify-content: center;
    gap: 200px;
    margin-top: 50px;
}

.duration-value {
    font-size: 80px;
    margin-bottom: 10px;
    color: rgb(70, 70, 70);
}

.duration-page {
    text-align: center;
    font-size: 20px;
    background-color: rgb(65, 65, 64);
    width: 200px;
    border-radius: 10px;
}

.os-title,
.click-title,
.heatmap-title,
.duration-title {
    margin-top: 70px;
    margin-bottom: 70px;
}

#stat-os {
    height: auto;
    width: 70vw !important;
    margin: auto;
}

.satisfaction-container {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;

    p {
        font-size: 80px;
        color: rgb(70, 70, 70);
    }
}

#stat-search {
    margin: auto;
    width: 40vw !important;
    height: auto !important;
}

.analytics-title {
    text-align: center;
    margin-bottom: 100px;
    font-size: 55px;
}

.header-analytics {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 110px;

    h1 {
        padding-top: 50px;
    }
}

#stat-search-canvas {
    width: 70%;
    height: auto;
}